nav {
    background-color: black; 
    padding: 10px 20px; 
    border-radius: 10px;
    width: 100%;
    display: block;
    margin: 20px 40px 40px -25px;
    border: 5px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  

  .email {
    color: white; 
    transition: color 0.3s ease; 
}

  .email:hover {
    color: aqua; 
}

  .title {
    color: white;
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
  }
  
  li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  p {
    color: white;
  }
  
  a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
  }
  
  .linkedin:hover {
    color: #0077b5; 
  }
  
  .github:hover {
    color: grey; 
  }
  
  .whatsapp:hover {
    color: #25D366; 
  }
  
  .instagram:hover {
    color: #C13584; 
  }
  
  
  a {
    transition: color 0.3s ease; 
  }

  
  @media screen and (max-width: 600px) {
    nav {
      padding: 10px; 
      margin: 20px 20px 40px -15px;
    }
  
    li {
      display: inline-block; 
      margin: 0 15px; 
    }
  }
  